#
# Copyright (C) 2011 Alex Smith
#
# Permission to use, copy, modify, and/or distribute this software for any
# purpose with or without fee is hereby granted, provided that the above
# copyright notice and this permission notice appear in all copies.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
# WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
# ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
# WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
# ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
# OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
#

config KBOOT_UI
	bool "Menu/configuration interface"
	default y
	depends on KBOOT_HAVE_UI
	help
	  Enable the user interface. If disabled, the menu interface is disabled
	  so configuration files will not support multiple entries. The system
	  must be loaded at the top level of the config file.

#########################
menu "Filesystem support"
	depends on KBOOT_HAVE_DISK
#########################

config KBOOT_FS_EXT2
	bool "Ext2/3/4 filesystem"
	default y
	help
	  Enable support for booting from Ext2/3/4 filesystems.

config KBOOT_FS_ISO9660
	bool "ISO9660 CDROM filesystem"
	default y
	help
	  Enable support for booting from ISO9660-formatted CDs.

#######
endmenu
#######

############################
menu "Partition map support"
	depends on KBOOT_HAVE_DISK
############################

config KBOOT_PARTITION_MAP_MSDOS
	bool "MS-DOS (MBR) partition support"
	default y
	help
	  Enable support for MS-DOS/MBR partition tables. You probably want
	  this.

#######
endmenu
#######

if PLATFORM_PC
source "platform/pc/Kconfig"
endif
if PLATFORM_OMAP3
source "platform/omap3/Kconfig"
endif
